:root{
    --color1: #E6E6FA;
    --color2: #4B0082;
}
header, footer, section {
    padding: 50px 0;
}

header {
    padding: 100px 0;
}

footer {
    padding: 70px 0;
}

header, footer, section{
    background: var(--color1);
    background: -moz-linear-gradient(left,  var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(left,  var(--color1) 0%,var(--color2) 100%);
    background: linear-gradient(to right,  var(--color1) 0%,var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color2),GradientType=1 );

}

/*functionality */

.app_circle {
    margin: 0 auto 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    background-color: #191970;
    justify-content: center;
    align-items: center;
}

.line {
    width: 200px;
    height: 3px;
    background-color: #FFFF00;
    margin: 15px auto 30px;
}


/*color of the section text */
.color1 {
    color: var(--color1)
}

.color2 {
    color: var(--color2)
}

.bg1 {
    background-color: var(--color1)
}

.bg2 {
    background-color: var(--color2)
}

/* color of the icons */
.fa-house {
    color: #D8BFD8;
}

.fa-address-card {
    color: #D8BFD8;
}

.fa-right-to-bracket {
    color: #D8BFD8;
}

.fa-right-from-bracket {
    color: #D8BFD8;
}

.fa-hand-holding-dollar {
    color: #D8BFD8;
}

.fa-wallet {
    color: #D8BFD8;
}

.fa-piggy-bank {
    color: #D8BFD8;
}

.fa-basket-shopping{
    color: #D8BFD8;
}

.fa-cart-arrow-down{
    color: #D8BFD8;
}