{% extends "wallet/purchased_goods_page.html" %}
{% load custom_filters %}

{% block goods %}
{% for item in goods %}
<tr>
    <td class="text-center text-white">{{item.date_of_purchase|date:"d-m-Y"}}</td>
    <td class="text-center text-white">{{item.name_of_product}}</td>
    <td class="text-center text-white">{{item.price_per_item}}</td>
    <td class="text-center text-white">{{item.quantity_of_goods}}</td>
    <td class="text-center text-white">{{item.quantity_of_goods|mul:item.price_per_item}}</td>
    <td class="text-center text-white">{{item.category}}</td>
</tr>
{% endfor %}
{% endblock %}
{% block paginator %}
 <nav aria-label="Page navigation">
                    <ul style="" class="pagination justify-content-center">
                        {% if goods.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{goods.previous_page_number }}">previous</a></li>
                        {% endif %}
                        {% for page in goods.paginator.page_range %}
                        {% if page == goods.number %}
                        <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                        {% elif page > goods.number|add:-3 and page < goods.number|add:3 %}
                        <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if goods.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{goods.next_page_number}}">next</a></li>
                        {% endif %}
                    </ul>
                </nav>
{% endblock %}

