{% extends "wallet/main_page.html" %}

{% block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div align="center">
                <table class="table table-bordered table-hover border-warning border border-5">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center text-white">Date of income</th>
                        <th scope="col" class="text-center text-white">Type of income</th>
                        <th scope="col" class="text-center text-white">Amount of income</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in my_income%}
                    <tr>
                        <td class="text-center text-white">{{item.date_of_income|date:"d-m-Y"}}</td>
                        <td class="text-center text-white">{{item.type_of_income}}</td>
                        <td class="text-center text-white">{{item.amount_of_income}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="text-center text-white">{{ user_income }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}