{% extends "wallet/main_page.html" %}

{% block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div align="center">
                <table class="table table-bordered table-hover border-warning border border-5">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center text-white">Date of income</th>
                        <th scope="col" class="text-center text-white">Type of income</th>
                        <th scope="col" class="text-center text-white">Amount of income</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in my_income%}
                    <tr>
                        <td class="text-center text-white">{{item.date_of_income|date:"d-m-Y"}}</td>
                        <td class="text-center text-white">{{item.type_of_income}}</td>
                        <td class="text-center text-white">{{item.amount_of_income}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul style="" class="pagination justify-content-center">
                        {% if my_income.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{my_income.previous_page_number }}">previous</a></li>
                        {% endif %}
                        {% for page in my_income.paginator.page_range %}
                        {% if page == my_income.number %}
                        <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                        {% elif page > my_income.number|add:-3 and page < my_income.number|add:3 %}
                        <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if my_income.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{my_income.next_page_number}}">next</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <div class="text-center text-white">Your total income for the entire period: {{ total_user_income }}.
                </div>
                <div class="text-center text-white">Your income in {{ current_month_income.current_month }}
                    {{ current_month_income.current_year }} year: {{ current_month_income.total_income_result }}.
                </div>
                <div class="text-center text-white">Your income in {{ current_year_income.current_year }} year:
                    {{ current_year_income.total_income_result }}.
                </div>
                <div class="text-center text-white">
                    Your income in previous {{ previous_year_income.previous_year }} year:
                    {{ previous_year_income.total_income_result }}.
                </div>
                {% if income_difference.current_year_income > income_difference.previous_year_income %}
                <div class="text-center text-white">In {{ income_difference.current_year }} year,
                    you earned {{ income_difference.difference }} more
                    than last {{ income_difference.previous_year }} year.
                </div>
                {% elif income_difference.current_year_income < income_difference.previous_year_income %}
                <div class="text-center text-white">In {{ income_difference.current_year }} year,
                    you earned {{ income_difference.difference }} less
                    than last {{ income_difference.previous_year }} year.
                </div>
                {% elif income_difference.current_year_income == income_difference.previous_year_income %}
                <div class="text-center text-white">You earned the same amount in {{ income_difference.current_year }}
                    year as you did last {{ income_difference.previous_year }} year.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}