{% extends "wallet/main_page.html" %}
{% load custom_filters %}

{% block content%}
{% block categories %}
{% include 'inc/_categories.html' %}
{% endblock %}

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-8">
            <div align="center">
                <table class="table table-bordered table-hover border-warning border border-5">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center text-white">Date of purchase</th>
                        <th scope="col" class="text-center text-white">Name of product</th>
                        <th scope="col" class="text-center text-white">Price per item</th>
                        <th scope="col" class="text-center text-white">Quantity of goods</th>
                        <th scope="col" class="text-center text-white">Total amount</th>
                        <th scope="col" class="text-center text-white">Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% block goods %}
                    {% for item in my_goods %}
                    <tr>
                        <td class="text-center text-white">{{item.date_of_purchase|date:"d-m-Y"}}</td>
                        <td class="text-center text-white">{{item.name_of_product}}</td>
                        <td class="text-center text-white">{{item.price_per_item}}</td>
                        <td class="text-center text-white">{{item.quantity_of_goods}}</td>
                        <td class="text-center text-white">{{item.quantity_of_goods|mul:item.price_per_item}}</td>
                        <td class="text-center text-white">
                            <a href="{{ item.category.get_absolute_url }}" style="color: white"> {{item.category}}</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endblock %}
                    </tbody>
                </table>
                {% block paginator %}
                <nav aria-label="Page navigation">
                    <ul style="" class="pagination justify-content-center">
                        {% if my_goods.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{my_goods.previous_page_number }}">previous</a></li>
                        {% endif %}
                        {% for page in my_goods.paginator.page_range %}
                        {% if page == my_goods.number %}
                        <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                        {% elif page > my_goods.number|add:-3 and page < my_goods.number|add:3 %}
                        <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if my_goods.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{my_goods.next_page_number}}">next</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endblock %}
                <div class="text-center text-white">{{ user_expenses }}
                </div>
                <div class="text-center text-white">Your expenses in {{ current_month_expenses.current_month }}
                    {{ current_month_expenses.current_year }} year: {{ current_month_expenses.total_expenses_result }}.
                </div>
                <div class="text-center text-white">Your expenses in {{ current_year_expenses.current_year }} year:
                    {{ current_year_expenses.total_expenses_result }}.
                </div>
                <div class="text-center text-white">
                    Your expenses in previous {{ previous_year_expenses.previous_year }} year:
                    {{ previous_year_expenses.total_expenses_result }}.
                </div>
                {% if expenses_difference.current_year_expenses > expenses_difference.previous_year_expenses %}
                <div class="text-center text-white">In {{ expenses_difference.current_year }} year,
                    you spent {{ expenses_difference.difference }} more
                    than last {{ expenses_difference.previous_year }} year.
                </div>
                {% elif expenses_difference.current_year_expenses < expenses_difference.previous_year_expenses %}
                <div class="text-center text-white">In {{ expenses_difference.current_year }} year,
                    you spent {{ expenses_difference.difference }} less
                    than last {{ expenses_difference.previous_year }} year.
                </div>
                {% elif expenses_difference.current_year_expenses == expenses_difference.previous_year_expenses %}
                <div class="text-center text-white">You spent the same amount in {{ expenses_difference.current_year }}
                    year as you did last {{ expenses_difference.previous_year }} year.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}